/* BIG nabar section Style */

.barstatus {
    background-image: url(/asset/black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.barstatus .navbar-nav a {
    font-family: "point";
    text-transform: uppercase;
    font-size: 0.9em;
    margin-left: 1em;
}

.judul h1 {
    font-family: "artegra";
    color: #ffff;
    font-size: 3em;
    margin-bottom: 2em;
}
