.main {
    height: 100vh;
    /* background: rgb(33, 33, 33); */
    background-image: url("/asset/bg-auth.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

label {
    font-family: "point";
    font-size: 0.8em;
}

p {
    font-size: 0.8em;
    font-family: "point";
}

.card {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.68);
    backdrop-filter: blur(4px);
    /* background-color: red; */
}
